/*
Deprecated
Authors: Mwape
*/

.cart{
    position: absolute;
    min-height: 10rem;
    background: var(--white);
    top: 10px;
    right: 0;
    width: 10em;
    padding:23rem 1.5rem;
}

.cart-item-remove{
    color: var(--pink);
    transition: all 1s ease-in-out;
}

.cart-item-remove:hover{
    transform: scale(1,1);
    color: var(--blue)
}

